* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
:root {
    --cor1: #684ede;
    --cor2: #cdff42;
}

body {
    min-height: 100vh;
    background: var(--cor1);
    color: var(--cor2);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor1);
    padding: 10px 12%;
    transition: all 0.5s ease;
}

.logo img {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--cor2);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color: var(--cor1);
}

.register {
    display: flex;
    align-items: center;
}

.register a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--cor1);
    padding: 3px 10px 3px 10px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    background-color: var(--cor2);
}

.register a:hover {
    color: var(--cor1);
}

#menu-icon {
    font-size: 35px;
    color: var(--cor2);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--cor1);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .navbar a:hover {
        color: var(--cor2);
        transform: translateY(5px);
    }

    .navbar.open {
        right: 2%;
    }
}

.first {
    padding-top: 120px;
}

footer {
    background-color: var(--cor1);
}

.footer-geral {
    width: 100%;
    padding: 70px 30px 20px;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--cor2);
    margin: 10px;
    border-radius: 50%;
}

.footer-social a i {
    font-size: 2em;
    color: var(--cor1);
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

.footer-social a:hover {
    background-color: var(--cor1);
    transition: 0.5s;
}

.footer-social a:hover i {
    color: var(--cor2);
    transition: 0.5s;
}

.footer-navbar {
    margin: 30px 0;
}

.footer-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.footer-navbar ul li a {
    color: var(--cor2);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-navbar ul li a:hover {
    opacity: 1;
}

.mobile {
    display: none;
}

@media (max-width: 700px) {
    .footer-navbar ul {
        flex-direction: column;
    }

    .footer-navbar ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

.first img {
    width: 100%;
}

.local-technest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 100px 5% 100px 5%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.local-technest .local-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 120px;
    justify-content: center;
}

.local-text h1 {
    font-size: 2.5em;
}

.local-text span {
    color: white;
    font-size: 1em;
    padding: 2% 0;
}

.local-text button {
    margin-top: 5%;
    padding: 8px 20px 8px 20px;
    width: fit-content;
    background-color: transparent;
    border: 2px solid var(--cor2);
    color: #cdff42;
    cursor: pointer;
    font-size: 1em;
}

.local-text button a {
    color: var(--cor2);
}

.local-text button a:hover {
    color: var(--cor1);
}

.local-text button:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

.local-technest .local-img {
    width: 50%;
    padding: 0 20px;
}

.local-img img {
    width: 100%;
    border-radius: 20px;
}

.topics {
    background-color: var(--cor2);
    color: var(--cor1);
    text-align: center;
    padding: 70px 5%;
}

.topics h1 {
    padding-bottom: 90px;
    font-size: 3em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 30%;
    justify-content: center;
}

.grid-item {
    padding: 20px 40px;
    text-align: center;
    background-color: var(--cor1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.grid-item img {
    width: 80px;
    height: 80px;
    padding-bottom: 5px;
}

.grid-item p {
    margin: 0;
    color: var(--cor2);
}

.organization {
    background-color: var(--cor1);
    padding: 50px 25%;
}

.content {
    background-color: var(--cor2);
    color: var(--cor1);
    width: fit-content;
    border-radius: 20px;
    padding: 30px;
}

.organization-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}

.organization-text h1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 3%;
}

.register-nest {
    background-color: var(--cor2);
    color: var(--cor1);
}
.forms {
    display: flex;
    padding: 0 15%;
}

.forms-text {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    justify-content: center;
    width: 700px;
}

.forms-text h2 {
    font-size: 2em;
    padding-bottom: 10px;
    max-width: 500px;
}

.forms img {
    margin: 0;
    height: 100%;
    padding-left: 30px;
}

.forms-text input {
    border: 2px solid #ddd;
    padding: 5px;
    max-width: 450px;
    width: 100%;
    font-size: 1em;
    border-radius: 10px;
    border: none;
}

.padding-input {
    padding-bottom: 3%;
}

input.button-send {
    margin-top: 5%;
    padding: 8px 20px 8px 20px;
    width: fit-content;
    background-color: transparent;
    border: 2px solid var(--cor1);
    color: var(--cor1);
    cursor: pointer;
    font-size: 1em;
}

input.button-send:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

.forms-text p {
    padding-top: 4%;
}
